@model DBSchoolManagementSystem.Models.Department




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Department</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class=" table">
    <tr>
        <th>Department id </th>
        <th>Department Name </th>
        <th>Action</th>
        





    </tr>

    @foreach (var item in Model.DepartmentList)

    {
        <tr>

            <td>
                @item.DepartmentId
            </td>
            <td>
                @item.DepartmenttName
            </td>
            



            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }, new { style = "color: blue; margin-right: 5px;" })|
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentId },new { style = "color: green; margin-right: 5px;" })|
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId }, new { style = "color: red; margin-right: 5px;" })|
            </td>
        </tr>

    }
</table>

