@*@model DBSchoolManagementSystem.Models.Student
    @using DBSchoolManagementSystem.Models*@
@using DBSchoolManagementSystem.Models
@model List<Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Student</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Add Student", "Create", null, new { @class = "btn btn-primary custom-btn" })
    </p>

}
<h4 class="text-success">@TempData["msg"]</h4>

<table class=" table">
    <tr class="text-center bg-dark text-light">
        <th>Student Id </th>
        <th>FullName</th>
        <th>Address </th>
        <th>Email </th>
        <th>Contactno </th>
        <th>Gender </th>
        <th>Studentimg</th>
        <th>EnrollmentDate </th>
        <th>Programme </th>
        <th>Action</th>





    </tr>

    @foreach (var item in Model)

    {
        <tr class="text-center bg-light text-dark">
            <td>
                @item.StudentId
            </td>

            <td>
                @item.FullName
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Email
            </td>

            <td>
                @item.Contactno
            </td>

            <td>
                @item.Gender
            </td>
            <td>
                <img src="@item.Studentimg" width="80" height="50" />
            </td>



            <td>
                @item.EnrollmentDate
            </td>

            <td>
                @CommonUtilities.GetTypeNameFromCourseId(item.TypeId)
            </td>





            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }, new {@class="btn btn-primary" ,@style = "color:white" })}
                @Html.ActionLink("Details", "Details", new { id = item.StudentId }, new { @class = "btn btn-success", @style = "color:white" })

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }, new { @class = "btn btn-danger", @style = "color:white" })}

            </td>
        </tr>
    }
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}















