@*@model  DBSchoolManagementSystem.Models.AssignInstructor*@
@using DBSchoolManagementSystem.Models
@model List<AssignInstructorVm>

@{
    ViewBag.Title = "AssignIndex";
}
<p>
    @Html.ActionLink("Assign Instructor", "AssignInstructor", null, new { @class = "btn btn-primary custom-btn" })
  
</p>

<h2>AssignIndex</h2>

<table class="table">
    <tr class="text-center bg-dark text-light">
        <th>Instructor Name</th>
        <th>Department Name</th>
        <th>Course Name</th>
        


        <th>Action</th>
    </tr>
    @foreach (var item in Model)

        {
        <tr class="text-center bg-light text-dark">
            <td>
                @item.InstructorName
            </td>
            <td>
                @item.DepartmenttName
            </td>
            <td>
                @item.CourseName
            </td>



           




            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Courseid }, new { @class = "btn btn-primary", @style = "color:white" })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Courseid }, new { @class = "btn btn-success", @style = "color:white" })
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Courseid }, new { @class = "btn btn-danger", @style = "color:white" })}
            </td>
        </tr>
    }
    </table>



