@using DBSchoolManagementSystem.Models
@model AssignInstructor
@{
    var instructor = ViewBag.InstructorList as List<Instructor>;
    var course = ViewBag.CourseList as List<Course>;
    var department = ViewBag.DepartmentList as List<Department>;
}
@{
    ViewBag.Title = "AssignInstructor";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h2>AssignInstructor</h2>
<form method="post" action="/Course/AssignInstructor">
    <div>
        <label>Instructor</label>
        <select name="InstructorId">
            <option value="">Select Instructor.</option>
            @foreach (var items in instructor)
            {
                <option value="@items.Instructorid">@items.FirstName</option>
            }
        </select>
        <label>Department</label>
        <select name="DepartmentId" class="department">
            <option value="">Select Department..</option>
            @foreach (var items in department)
            {
                <option value="@items.DepartmentId">@items.DepartmenttName</option>
            }
        </select>
        <label>Course</label>
        <select name="Courseid" class="Course">
            <option value="">Select Course..</option>
            @foreach (var items in course)
            {
                <option value="@items.Courseid">@items.CourseName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>



</form>

<style>
    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 4px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
</style>

<
<script>
    //$(document).ready(function () {
    //    $("select.department").change(function () {
    //        debugger;
    //        var DepartmentId = $(this).val();

    //        // Make an AJAX request to fetch the subcategories based on the selected category
    //        $.ajax({
    //            url: "/get/CourseunderDepartment",
    //            method: "POST",
    //            data: { Id: DepartmentId },
    //            dataType: "json",
    //            success: function (response) {
    //                // Clear the existing options in the subcategory select tag
    //                $(".Course").empty();

    //                // Add the new options based on the response data
    //                if (response.length > 0) {
    //                    response.forEach(function (data) {
    //                        $(".Course").append('<option value="' + data.Id + '">' + data.name + '</option>');
    //                    });
    //                } else {
    //                    $(".Course").append('<option value="">No course available</option>');
    //                }
    //            },
    //            error: function () {
    //                console.log("Error occurred during AJAX request");
    //            }
    //        });
    //    });
    //});


</script>
<script>
    $(document).ready(function () {
        $("#DepartmentId").change(function () {
            $.get("/Course/CourseunderDepartment"{ DepartmentId: $("#DepartmentId").val() }, function (data) {
                $("#Courseid").empty();
                $.each(data, function (index, row) {
                    $("#Courseid").append("<option value='" + row.Courseid + "'>" + row.CourseName + "</option>")
                });
            });
        });
    });5


</script>


