@model DBSchoolManagementSystem.Models.Course

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>

}
<table class=" table">
    <tr>
        <th>Course Id </th>
        <th>CourseName</th>

        <th>Action</th>
      
        



    </tr>

    @foreach (var item in Model.CourseList)

    {
        <tr>
            <td>
                @item.Courseid
            </td>

            <td>
                @item.CourseName
            </td>


           
            <td>
                @if (User.IsInRole("Admin")) {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Courseid }, new { style = "color: blue; margin-right: 5px;" })}
                @Html.ActionLink("Details", "Details", new { id = item.Courseid }, new { style = "color: green; margin-right: 5px;" })
                @if (User.IsInRole("Admin")) {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Courseid }, new { style = "color: red; margin-right: 5px;" })}
            </td>
        </tr>
    }
</table>
